<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd


        http://www.springframework.org/schema/data/jpa
        http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <import resource="spring-cache.xml"/>

    <context:component-scan base-package="ru.antisida.**.repo.datajpa"/>
    <jpa:repositories base-package="ru.antisida.**.repo.datajpa"/>

    <context:component-scan base-package="ru.antisida.**.service"/>

</beans>